{
  "dev": {
    "baseUrl": "http://localhost:8080",
    "user": {
      "name": "John Due",
      "email": "john.due@syncmoney.app",
      "password": "test"
    },
    "invitedUser": {
      "email": "mary.due@syncmoney.app",
      "name": "Mary",
      "password": "test"
    },
    "accessToken": "<copy-the-login-token-here>",
    "accountId": "<copy-the-account-id-here>"
  }
}