{
  "dev": {
    "baseUrl": "http://localhost:8080",
    "user": {
      "name": "John Due",
      "email": "john.due@syncmoney.app",
      "password": "test"
    },
    "accessToken": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0aGlhZ29AdGhpYWdvdGkuY29tIiwicm9sZSI6ImFkbWluIiwidXNlcklkIjoiNjI0ODE3YTQtMTM5MS00OTExLThjZjktMjk2MjZjMDRmZjhiIiwib3JnYW5pemF0aW9uSWQiOiI5NTQ1MWMyMi1iZTliLTRhOGItOWM0Zi04ZDhhN2U4NWJmYzkiLCJpYXQiOjE3NTM4MjY4MTYsImV4cCI6MTc1MzgzMDQxNn0.0RyzxPqtEdtCD2PmWuyLKCHyB_m_WDgySR_STHxMGtY",
    "accountId": "1c623f7d-01d0-443a-ab1b-0f669ba39716"
  }
}